body {
	background: #835C3B;
	overflow: hidden;
	font-family: "arial";
	text-align: center;
}

body h1 {
	color: #47311f;
}

#queueDiv {
	position:relative;
	background: tan;
	width: 80vw;
	min-width: 160px;
	max-width: 600px;
	height: 80vh;
	margin: auto;
	padding: 20px;
	overflow-y: auto;
}

#addNewCardBtn {
	width: 100%;
	height: 10vh;
}

.card {
	width: 100%;
	background: white;
	border: 1px gray solid;
	height: 9vh;
	margin-bottom: 1vh;
}

.card .initiative {
	float: left;
	height: 100%;
	width:	10%;
	display: inline;
	border: none;
	font-size: 6vw;
	text-align: center;
}

.card .title {
	float: left;
	height: 30%;
	width:	60%;
	display: inline;
	border: none;
	margin: 1vw 0 0 1vw;
	font-size: 3vw;
}

.card input:focus {
	outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}